.bookmark-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  /* 북마크 간의 간격 조절 */
}

.bookmark {
  border: 3px solid black;
  /* 검은색 선으로 테두리 설정 */
  border-radius: 8px;
  /* 각지지 않은 테두리를 위한 radius 설정 */
  padding: 10px;
  margin: 8px;
  position: relative;
  /* 상대적인 위치 설정 */
  cursor: pointer
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: px;
  margin: 0;
  cursor: pointer;
}

/* BookmarkList.css */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.page-item {
  display: inline-block;
  margin-right: 8px;
}

.page-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.page-link:hover {
  text-decoration: underline;
  color: black;
}
