.modal {
  z-index: 999;
  margin: 0 auto;
  background-color: rgb(255, 255, 255) !important;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}