.main {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.logo-header {
  font-size: 24px;
}

.header {
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 20px;

  &>.logo-header {
    width: 0px;
    height: auto;
    float: left;
  }

  &>.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    &>input[type='text'] {
      margin-left: 10px;
      width: 100%;
      max-width: 400px;
      text-align: center;
      box-sizing: border-box;
      height: 36px;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      font-size: 16px;
    }

    &>.search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/* .header img {
  width: 110px;
  height: auto;
  float: left;
} */

h1 {
  margin: 0;
}

/* .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
} */

/* input[type='text'] {
  padding: 8px;
  margin-left: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
} */

button {
  padding: 8px 16px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.bookmarks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.bookmark {
  border: 3px solid #ec9898;
  padding: 15px;
  width: 350px;
  text-align: center;
  margin-left: 50px;
  margin-right: 0;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination ul li {
  margin: 0 5px;
}

/* 페이지네이션 버튼*/
.pagination ul li button {
  border-radius: 18px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* .pagination ul li button:hover {
  background-color: #cb2e3e;
} */
