:root {
  --button-side-length: 36px;
  --button-border-radius: 18px;
}


.CrossButton {
  height: var(--button-side-length);
  min-width: var(--button-side-length);
  border-radius: var(--button-border-radius);
  border-style: none;

  
  float: right;
  color: white;
  background-color: red;
  font-size: 20px;
  width: 36;
  height: 36;
  display: flex;
  align-items: center;
}

.CancelButton {
  height: var(--button-side-length);
  min-width: var(--button-side-length);
  border-radius: 10px;

  
  float: right;
  color: white;
  background-color: red;
  font-size: 18px;
  width: 60px;
  height: 36;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CompleteButton {
  height: var(--button-side-length);
  min-width: var(--button-side-length);
  border-radius: 10px;

  
  float: left;
  color: black;
  background-color: rgba(235, 223, 223, 0.918);
  font-size: 18px;
  width: 60px;
  height: 36;
  display: flex;
  align-items: center;
  justify-content: center;
}