@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

/* css 전역변수 선언 */
:root {
  --default-text-size: 16px;
  --title-text-size: 20px;
  --window-border-radius: 12px;
  
  --component-margin: 12px;
  
}

html {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: var(--default-text-size);
  color: rgb(15, 15, 15);
}

#root {
  min-width: 960px;
  width: 75%;
  margin: 0 auto;
}

.window {
  border-radius: var(--window-border-radius);
  background-color: rgba(0, 0, 0, 0.05);
}

.window-inner {
  margin: var(--component-margin);
}

.window-inner-title {
  font-size: var(--title-text-size);
  font-weight: bold;
}

.modifiable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}