.input-title {
  height: var(--button-side-length);
  display: flex;
  align-items: center;
}

.input-title-text {
  width: inherit;
  font-size: var(--title-text-size);
  font-family: inherit;
  font-weight: bold;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.input-text {
  box-sizing: border-box;
  width: 100%;
  font-size: var(--default-text-size);
  font-family: inherit;
  display: flex;
  align-items: center;
  word-break: break-all;
  overflow-wrap: normal;
}

.input-text-add {
  box-sizing: border-box;
  width: 100%;
  font-size: var(--default-text-size);
  font-family: inherit;
  display: flex;
  align-items: center;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

.textarea-add {
  box-sizing: border-box;
  width: 100%;
  font-size: var(--default-text-size);
  font-family: inherit;
  display: flex;
  word-break: break-all;
  overflow: hidden;
}

.textarea-info {
  box-sizing: border-box;
  width: 100%;
  font-size: var(--default-text-size);
  font-family: inherit;
  display: flex;
  word-break: break-all;
  overflow: hidden;
}